extends layout

block content
  h1= title
  - const hills = results;
 
  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-6') Name
      div(class='col-sm-6') Height
      each item,index in hills
        div(class='col-sm-6' onclick='buy('+index+')') #{item.name}
        div(class='col-sm-6' onclick='buy('+index+')') #{item.height}

  script.
    function buy(x){
      alert('Purchased Item: ' + x)
    } 